*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    width:100%;
    background:#31104D;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:4px 60px;
}

.logo{
    height:55px;
    width:auto;
    display:block;
}

nav ul{
    display:flex;
    align-items:center;
    gap:24px;
    list-style:none;
}

nav ul a{
    position: relative;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #a8a8a9;
    font-size: 14px;
    transition: color .3s ease;
}

nav ul a:hover{
    color: #FFFF;
}


.nav-buttons{
    display:flex;
    align-items:center;
    gap:10px;
}

.btn-login{
    color: #b4b4b5;
    font-family:"Manrope", sans-serif;
    font-weight:600;
    width: 100px;
    height: 30px ;
    background: none;
    border: none;
}

.btn-login:hover{
    color: #FFFF;
}

.btn-get-started{
   background: #fff;
    color: #31104D;
    border: none;
    border-radius: 6px;
    font-family:"Manrope", sans-serif;
    font-weight:600;
    cursor:pointer;
    width: 100px;
    height: 35px;
} 

.btn-get-started:hover{
    background: #fff;
    opacity: 80%;
    color: #31104D;
}

.menu-btn{
    display:none;
}

/*== Media Querries ==*/

@media (max-width:768px){

    nav{
        padding:12px 20px;
    }

    nav ul{
        display:none;
    }

    .nav-buttons{
        display:none;
    }

    .logo{
        height:45px;
    }

    .menu-btn{
        display:block;
        background:none;
        border:none;
        color:#fff;
        font-size:32px;
        cursor:pointer;
    }

}


